body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url("../image/chat.jpg");
    background-size: cover;
    
    /* background: rgba(149, 225, 235, 0.61);  */
}
.menu{
   
    background: rgba(33, 54, 240, 0.952);
    padding: 10px;
    margin-bottom: 30px;
    
}
.logo_menu{
    display: flex;
}


.login_menu{
    margin-top: -200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-right: 500px;
}

.login,.sign_up{
    background: rgb(14, 214, 7);
    font-size: 20px;
    outline: none;
    border: none;
    padding: 15px;
    margin-left: 30px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
   
    
}
.login{
    width: 120px;
}
.container{
    
    width: 50%;
    margin: auto;
    border-radius: 20px;
    background: url(../image/background.jpg);
    background-size: cover;
    margin-bottom: 30px;
    box-shadow: 0px 2px 10px #333;
    display: none;

}
.header_chat{
    background: rgba(244, 83, 55, 0.301);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0px 0.5px 10px rgba(51, 51, 51, 0.788);
    display: flex;
    justify-content: space-between;
}
.header_chat img , .icon-call img, .logo_menu img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
}

.icon-logo{
    display: flex;
}
.icon-call .video-call{
    margin-right: 20px;
}

h5{
    font-size: 15px;
}
.content {
    
    height: 400px;
    overflow:auto ;
    padding: 30px;
    
   
}
.message{
    box-shadow: 0px 2px 10px #333;
    background: #f3e3c985;
    display: flex;
    justify-content: space-around;
    border-bottom-left-radius:20px ;
    border-bottom-right-radius:20px ;
   
    padding: 9px;
    
    
    
}
#textId{
    padding: 12px;
    width:420px;
    
    border-radius: 20px;
    
}
#send_message{
    padding: 12px;
    width: 150px;
    background: rgb(24, 121, 4);
    color: white;
    border-radius: 25px;
    
    
}  

.b_I {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
}

.fa-bold{
    margin-right: 10px;
}

.fa-italic,.fa-bold{
    font-size: 17px;
}
#textId,#send_message{
    outline: none;
    border: none;
}

fieldset{
    
    border: 1px solid rgb(248, 128, 128);
    max-width:max-content;
    border-radius: 20px;
    padding: 10px;
    margin-top: 15px;
    display: flex;
   
    
} 





.fa-pencil-square-o{
    
    margin-left: 20px;
}
.fa-trash,.fa-pencil-square-o, .fa-quote-left{
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
} 

.userLogin{
    margin: auto;
    width: 400px;
    padding: 30px;
    display: none;
}
.cover h3{
    text-align: center;
}
form{
    border-radius: 10px;
    box-shadow: 0px 0.5px 10px rgb(104, 103, 103);
    background: rgb(5, 122, 126);
    padding: 10px;
    padding-bottom: 30px;
    text-align: center;
}

form input[type="text"],
input[type="password"],
input[type="color"],
form button{
    width: 300px;
    outline: none;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
    border:none;
    box-shadow: 0px 0.5px 10px rgba(51, 51, 51, 0.788);
}

input[type="color"]{
    margin-left: 30px;
    padding: 9px;
}
form button{
    margin: auto;
    width: 150px;
    background-color: rgb(24, 121, 4);
    color:white;
    margin-left: 6px;

}
#cancel{
    background: rgb(177, 4, 4);
    cursor: pointer;
}
#save{
    cursor: pointer;
}

.bg{

    margin-top: -30px;

}
.bg img {
    width: 100%;
    height: 600px;
}



